# ignore cache or temporary directory
*__pycache__*
temp
venv
build
dist

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore IDE manage files
.idea
.vscode

# ignore os manage files
.DS_Store
