# ignore python library.
venv

# ignore pyinstaller compile directory.
build

# ignore cache or temporary directory.
*__pycache__*
temp

# ignore log files and databases
*.log
*.sql
*.sqlite

# Pycharm manage files
.idea

# ignore os manage files
.DS_Store