[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyyaml = "*"
openpyxl = "*"
prefect = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
mypy = "*"
coverage = "*"

[requires]
python_version = "3.9"

[scripts]
coverage = "coverage run --branch --source=src test/runTest.py"
