[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyyaml = "*"
openpyxl = "*"
prefect = "*"
pillow = "*"
ffmpeg-python = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
mypy = "*"
coverage = "*"

[requires]
python_version = "3.9.8"

[scripts]
testWithCoverage = "coverage run --branch --source=src -m unittest discover test"
